/* Main Elements */
html {
  scroll-behavior: smooth;
}
body {
  text-align: center;
  font-family: 'Aldrich', sans-serif;
  padding: 1em 0;
  margin: 0;
  background-color: #fefefe;
}
main {
  background-color: #111;
  color: #fefefe;
}
section {
  max-width: 900px;
  margin: 0 auto;
  padding: 1em;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}
a {
  color: #111;
  text-decoration: none;
  display: inline-block;
  transition: 0.2s;
}
nav a {
  border-right: 1px solid #111;
  padding: 1em;
  margin: 0;
}
nav a:hover {
  text-decoration: none;
  background-color: #ddd;
}
section h2 {
  font-size: 3em;
  margin: .25em 0;
}

/* Classes */
.main-header {
  font-size: 5em;
  margin: 0;
}
.first {
  border-left: 1px solid #111;
}
.info-box {
  text-align: left;
}
.profile-pic {
  border-radius: 50%;
  background-size: 100%;
  margin: 1em;
  max-width: 15em;
  max-height: 15em;
}
.social-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  max-width: 200px;
  margin: auto;
}
.email-link {
  margin: .5em;
  padding: .5em;
}
.email-link:hover {
  background-color: #ddd;
}

/* Icons */
.skill-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.skill-list path,
.skill-list circle {
  fill: #fefefe;
  transition: .2s;
}
.social-color {
  fill: #111;
  transition: .2s;
}
.skill-block {
  text-align: center;
  padding: 1em 0;
}
.skill-logo,
.social-logo {
  display: block;
  transition: .2s;
}
.skill-logo {
  height: 5em;
  margin: .3em auto;
}
.skill-logo:hover {
  margin: 0 auto;
}
.skill-logo:hover {
  height: 5.3em;
}
.social-logo {
  height: 2em;
  margin: .1em auto;
}
.social-logo:hover {
  margin: 0 auto;
  height: 2.2em;
}
/* .html5 { 
  fill: #f9dad2;
}
.css3 {
  fill: #d1e9fa;
}
.sass {
  fill: #f2d9e6;
}
.js {
  fill: #fdf8ce;
}
.react {
  fill: #e1f8fe;
}
.redux {
  fill: #764abc;
}
.ruby {
  fill: #f6d7d5;
}
.rails {
  fill: #fbd0d0;
}
.docker {
  fill: #1488c6;
}
.git {
  fill: #fbd6d0;
}
.github {
  fill: #EEE;
}
.vscode {
  fill: #ccebff;
} */
.skill-logo:hover .html5 {
  fill: #E34F26;
}
.skill-logo:hover .css3 {
  fill: #1572B6;
}
.skill-logo:hover .sass {
  fill: #CC6699;
}
.skill-logo:hover .js {
  fill: #F7DF1E;
}
.skill-logo:hover .react {
  fill: #61DAFB;
}
.skill-logo:hover .redux {
  fill: #764abc;
}
.skill-logo:hover .ruby {
  fill: #CC342D;
}
.skill-logo:hover .rails {
  fill: #CC1110;
}
.skill-logo:hover .docker {
  fill: #1488c6;
}
.skill-logo:hover .git {
  fill: #F05032;
}
.skill-logo:hover .github {
  fill: #999;
}
.skill-logo:hover .vscode {
  fill: #007ACC;
}
.social-logo .github {
  fill: #111;
}
.social-logo:hover .github {
  fill: #666;
}
.social-logo:hover .twitter {
  fill: #1DA1F2;
}
.social-logo:hover .linkedin {
  fill: #0077B5;
}

/* IDs */
#projects a:hover {
  background-color: #333;
  color: #ddd;
}
#about {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
#about p {
  font-family: Arial, Helvetica, sans-serif;
}

/* Project views */
#projects h3 {
  font-size: 2.5em;
  margin-bottom: .2em;
}
.project {
  display: grid;
  grid-template-columns: 2fr 1fr .6fr;
}
.desktop-frame,
.mobile-frame {
  max-width: 100%;
}
.project-buttons {
  display: flex;
  flex-direction: column;
  margin: 1.5em;
  justify-content: center;
}
.project-buttons a {
  background-color: #ddd;
  border: 1px solid #666;
  padding: 1em;
  margin: .2em;
  font-weight: 700;
  cursor: pointer;
}

/* Modals */
.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #fefefe;
  align-items: center;
  justify-content: center;
  transition: .2s;
}
.modal-box {
  background-color: #111;
  border: 1px solid #ddd;
  display: inline-block;
  height: 90vh;
  width: 80vw;
}
.modal-box h3,
.modal-box h4 {
  margin: .2em;
}
.modal-top-row {
  display: relative;
  text-align: right;
  padding: .33em 2.4em;
}
.x-close-button {
  border-radius: 100%;
  padding: .57em .60em .4em .65em;
  background-color: #ddd;
  border: 1px solid #ddd;
  display: inline-block;
  position: absolute;
  cursor: pointer;
  color: #111;
  font-weight: 800;
  transition: all 0.2s;
}
.x-close-button:hover {
  background-color: #333;
  color: #ddd;
}

@media screen and (max-width: 720px) {
  .project {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    align-items: center;
    flex-direction: column;
  }
  .project-buttons {
    margin: 0;
    display: block;
    text-align: right;
    padding: 1em;
  }
  .desktop-frame {
    grid-column: span 2;
    margin: auto;
  }
  .project-buttons a {
    width: 180px;
    text-align: center;
    margin: .25em auto;
  }
  .modal-box {
    width: 90vw;
  }
}
@media screen and (max-width: 620px) {
  .project-buttons a {
    width: 150px;
  }
  .skill-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  #about {
    display: block;
  }
  .profile-pic {
    margin: 1em auto;
  }
}
@media screen and (max-width: 410px) {
  .skill-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .skill-logo {
    height: 7em;
  }
  .skill-logo:hover {
    height: 7.3em;
  }
  .project-buttons a {
    width: 120px;
  }
  nav a,
  .first {
    border: none;
    border-top: 1px solid #111;
    display: block;
    margin: 0 2em;
  }
}
